## Build output
**/[Bb]in/
**/[Oo]bj/

## IDE
.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*~

## OS
.DS_Store
Thumbs.db

## dotnet-serve
.vscode/servers/

## Temp / debug
*.log
*.tmp
